@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

.el-table {
  border-top: 1px solid #eee;
}

.el-table th,
.el-table thead.is-group th {
  padding: 4px 0;
  text-transform: uppercase;
}

.el-table .cell,
.el-dialog__body {
  word-break: normal;
}
/* 
a {
  color: var(--color-green-400);
  text-decoration: none;
} */
