@import "tailwindcss";

/* @plugin "daisyui" {
  themes: light --default;
} */

.el-table th,
.el-table thead.is-group th {
  padding: 4px 0;
  text-transform: uppercase;
  background-color: #edf2f7 !important;
}

.el-pagination.is-background .btn-next.is-active,
.el-pagination.is-background .btn-prev.is-active,
.el-pagination.is-background .el-pager li.is-active {
  background-color: rgb(82, 155, 46) !important;
  border-color: rgb(82, 155, 46) !important;
}

.el-table .cell,
.el-dialog__body {
  word-break: normal;
}
